@import './sidebar.scss';
body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;

  overflow: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}
.height {
  height: 100%;
}
.height1000px {
  height: 1000px;
}
.height100px {
  height: 15.5rem;
}
.width {
  width: 100%;
}
.width60 {
  width: 60%;
}
.width80 {
  width: 80%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top {
  top: 0;
}
.left {
  left: 0;
}
.bottom {
  bottom: 0;
}
.right {
  right: 0;
}
.flex {
  display: flex;
}

.flex-sub {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-none {
  flex: none;
}

.flex-direction {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-baseline {
  align-items: baseline;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}
.margin-auto {
  margin: auto;
}
.margin-top20px {
  margin-top: 20px;
}
.margin-top6 {
  margin-top: 6%;
}
.margin-bottom50px {
  margin-bottom: 50px;
}
.border-radius4 {
  border-radius: 4px;
}
.box-sizing {
  box-sizing: border-box;
}
.box-shadow {
  box-shadow: 0 0 4px #345;
}
.border-cad6e1 {
  border: 1px solid #cad6e1;
}
.text-center {
  text-align: center;
}
.cursor-pointer {
  cursor: pointer;
}
.background {
  background: #fff;
}
.background-fiilter {
  backdrop-filter: blur(20px);
}
.background-size {
  background-size: cover;
}
.opacity {
  opacity: 0.5;
}
.overflow-hidden {
  overflow: hidden;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
