::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
::-webkit-scrollbar-track {
  width: 1px;
  // background-color: #eee;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/*滚动条的设置*/

::-webkit-scrollbar-thumb {
  position: relative;
  z-index: 2;
  background-color: #cccccc;
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/*滚动条移上去的背景*/

::-webkit-scrollbar-thumb:hover {
  background-color: #c5cfe4;
}
